<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="oneByOne" value="AllFoldersAreHere\OneByOne"/>
    <add key="subfolder" value="AllFoldersAreHere\Subfolder"/>
    <add key="searchPath" value="C:\Users\Артем\source\repos\FilesTask\FilesTask\AllFoldersAreHere"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>